<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Author</a>
                <a href="" class="dropdown-item ">By Genre</a>
                <a href="" class="dropdown-item">By Popularity</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="books-children-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Children Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="books-children-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Author</a>
                <a href="" class="dropdown-item">By Age</a>
                <a href="" class="dropdown-item">By Genre</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="authors-link">
                Authors
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="new-arrivals-link">
                New Arrivals
            </a>
        </li>
    </ul>
</div>