<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=children_books,climate_and_nature,cooking,fantasy_and_science_fiction,history_and_politics,horror,literature,personal_development,romantic_novel,travel_and_holiday" id="all-books-link">
                All Books
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="genre-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="genre-link">
                <a href="{% url 'products'%}?category=children_books" class="dropdown-item">Children Books</a>
                <a href="{% url 'products'%}?category=climate_and_nature" class="dropdown-item">Climate / Nature</a>
                <a href="{% url 'products'%}?category=cooking" class="dropdown-item">Cooking</a>
                <a href="{% url 'products'%}?category=fantasy_and_science_fiction" class="dropdown-item">Fantasy / Science Fiction</a>
                <a href="{% url 'products'%}?category=history_and_politics" class="dropdown-item">History / Politics</a>
                <a href="{% url 'products'%}?category=horror" class="dropdown-item">Horror</a>
                <a href="{% url 'products'%}?category=literature" class="dropdown-item">Literature</a>
                <a href="{% url 'products'%}?category=personal_development" class="dropdown-item">Personal Development</a>
                <a href="{% url 'products'%}?category=romantic_novel" class="dropdown-item">Romantic Novel</a>
                <a href="{% url 'products'%}?category=travel_and_holiday" class="dropdown-item">Travel / Holiday</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products'%}?category=authors" id="authors-link">
                Authors
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="new-arrivals-link">
                New Arrivals
            </a>
        </li>
    </ul>
</div>